<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#357edd">
		<title><%= current_page.data.title || data.global.name %></title>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Chakra+Petch:n,i,b" %>
		<%= stylesheet_link_tag "site" %>
		<%= javascript_include_tag "site", defer: true %>
	</head>
	<body class="sans-serif lh-copy">
		<%= partial 'partials/_header' %>
		<main>
			<%= yield %>
		</main>
		<%= partial 'partials/_footer' %>
	</body>
</html>
