<footer class="bg-black silver tc pa3 <%= google_font_class_name %>">
	<p>
		Last updated on
		<time datetime="<%= DateTime.now %>">
			<%= DateTime.now.strftime('%b. %d, %Y') %>.
		</time>
		<br/>
		This site (and many like it) is open-source on <%= link_to 'GitHub', data.global.source %>.
		<br/>
		Have a nice <span id="day">day</span>.
	</p>
	<p class="mb0">
		Beam me back <%= link_to 'up', '#' %>.
	</p>
</footer>
