<header class="w-100 vh-100 vh-75-ns dt ph3 pv4 f1-ns f2 lh-title bg-blue lightest-blue <%= google_font_class_name %>">
	<div class="v-mid dtc">
		<h1 class="mv0"><%= data.global.name %></h1>
		<h3 class="mt0 normal"><%= data.global.tagline %></h3>
		<nav class="f4 b navy ttu">
			<ul class="list pl0">
				<li class="dib mr2"><%= link_to 'About', '#intro' %></li>
				<li class="dib mr2"><%= link_to 'Work', '#work' %></li>
				<li class="dib mr2"><%= link_to 'Labs', '#labs' %></li>
				<li class="dib mr2"><%= link_to 'Contact', '#contact' %></li>
			</ul>
			<ul class="list pl0">
				<li>
					<i class="material-icons v-btm lightest-blue">email</i>
					<%= link_to data.global.email, 'mailto:' + data.global.email %>
				</li>
				<li>
					<i class="material-icons v-btm lightest-blue">message</i>
					<%= link_to '@' + data.global.username + ' on Twitter', 'https://twitter.com/messages/compose?recipient_id=156735510' %>
				</li>
				<li>
					<i class="material-icons v-btm lightest-blue">message</i>
					<%= link_to data.global.username + ' on Facebook', 'https://m.me/' + data.global.username %>
				</li>
			</ul>
		</nav>
	</div>
</header>
