---
---
<section id="intro" class="pa3 bg-washed-blue navy">
	<p class="measure">
		Hello! My name is Paul, and I am a web designer and developer from Pittsburgh, Pennsylvania. “What does that mean?” you may be asking yourself. In short, I create apps and websites.
	</p>
</section>

<section id="work" class="bg-dark-blue washed-blue">
	<h2 class="<%= google_font %> ph3">Client Work</h2>
	<ul class="list pl0">
		<% data.work.each do |item| %>
			<li class="db fl w-50-ns w-100 pa3">
				<h3 class="<%= google_font %>">
					<%= link_to item.name, item.url %>
					<small class="i">
						<time datetime="<%= item.date %>">
							<%= Date.parse(item.date).strftime('%b. %Y') %>
						</time>
					</small>
				</h3>
				<p class="mb0"><%= item.description %></p>
				<% if item.source %>
					<small><%= link_to "View Source", item.source %></small>
				<% end %>
			</li>
		<% end %>
		<div class="cf"></div>
	</ul>
</section>

<section id="labs" class="bg-washed-blue navy">
	<h2 class="<%= google_font %> ph3">Open-Source Experiments</h2>
	<ul class="list pl0">
		<% data.labs.each do |item| %>
			<li class="db fl w-50-ns w-100 pa3">
				<h3 class="<%= google_font %>">
					<%= link_to item.name, item.url %>
				</h3>
				<p class="mb0"><%= item.description %></p>
				<% if item.source %>
					<small><%= link_to "View Source", item.source %></small>
				<% end %>
			</li>
		<% end %>
		<div class="cf"></div>
	</ul>
</section>

<section id="contact" class="pa3 bg-dark-blue washed-blue">
	<p>I'm across the web on <%= link_to('Twitter', 'https://twitter.com/' + data.global.username) %>, <%= link_to('Instagram', 'https://instagram.com/' + data.global.username) %>, <%= link_to('GitHub', 'https://github.com/' + data.global.username) %>, and probably elsewhere as <%= data.global.username %>.</p>

	<p>For those interested, here is my <%= link_to('r&eacute;sum&eacute; as HTML', data.global.url + '/resume') %> or as <%= link_to('PDF', data.global.url + '/resume.pdf') %>.</p>

	<p>You can contact me via email at <%= link_to(data.global.email, 'mailto:' + data.global.email) %>, or message me on <%= link_to('Twitter', 'https://twitter.com/messages/compose?recipient_id=156735510') %> or <%= link_to('Facebook', 'https://m.me/' + data.global.username) %>.</p>
</section>

<section id="lastfm" class="pa3">
	<p>
		<span id="state">I last listened to: <br/></span>
		<img id="cover" class="fl mt2 mr2 h2 w2" />
		<span id="recenttracks">&hellip;</span>
		<img src="images/scrobbling.gif" alt="Now Playing" title="Now Playing" id="nowplaying" style="display: none" />
		<small id="since" class="db i" style="visibility: hidden">
			That makes <span id="number"></span> tracks since Sept. 2012!
		</small>
	</p>
</section>

<%= partial 'partials/_artists' %>

<%= partial 'partials/_instagram' %>
